@import "../mixins";
@import "../variables";

form {
    position: absolute;
    top: $toolbar-height + $standard-padding;
    left: $standard-padding;
    width: $sidenav-width - $twice-standard-padding;
    z-index: 2;

    background-color: white;

    @include floating-element();

    input {
        border: none;
        outline: 0;
        margin: 0;
        margin: 0;
        padding: 0 $half-standard-padding;
        height: $search-form-height;
        line-height: 22px;
        font-size: 16px;
    }

    @media (max-width: $xs-breakpoint) {
        top: $toolbar-height-sm + $half-standard-padding;
        left: $half-standard-padding;
        width: $sidenav-width - $standard-padding;
    }

    @media (max-width: $xxs-breakpoint) {
        right: $half-standard-padding;
        width: auto;
    }
}
