<md-sidenav #sidenav>
    <div class="container" fxLayout="column">
        <div class="header" *ngIf="title || closeable || subtitle">
            <div *ngIf="title || closeable" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title" fxFlex>{{ title }}</h2>
                <button *ngIf="closeable" (click)="sidenav.close()" md-icon-button>
                    <md-icon>close</md-icon>
                </button>
            </div>

            <h3 class="subtitle" *ngIf="subtitle">{{ subtitle }}</h3>
        </div>

        <ng-template body-host></ng-template>
    </div>
</md-sidenav>
