@import "../variables";

md-sidenav.mat-sidenav {
    width: $sidenav-width;
    .container {
        position: absolute;
        top: $search-form-height + $standard-padding;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        .header {
            padding: $standard-padding;
            .title, .subtitle {
                margin: 0;
            }
        }
    }

    @media (max-width: $xxs-breakpoint) {
        top: $search-form-height + $half-standard-padding;
        width: 100%;
        .header {
            padding: $half-standard-padding;
        }
    }
}

